<div class="container" id="app container">
    <div class="jumbotron">
      <h1 class="display-3">Welcome to the pantry app!</h1>
      <p class="lead">Input and track your pantry items.</p>
      <hr class="my-4">
      <p>Upcoming features include search, update, and automated shopping list.</p>
  </div>
    <div class="row">
      <div class="col-lg-6">
        <item-creator on-submit="$ctrl.onSubmit"/>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col">
            <item-viewer item="$ctrl.currentItem"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <item-list items="$ctrl.items" on-click="$ctrl.selectItem"/>
          </div>
        </div>
      </div>
    </div>
</div>